.D-Block{
    display: grid;
    grid-template-columns: 80% 50%;
    justify-content: space-around; 
}

.D-None{
    display: none;
}

.first_Item{
    grid-column-start: 1;
    grid-column-end: 2;
}
.second_Item{
    grid-column-start: 2;
    grid-column-end: 4;
}
.third_Item{
    grid-column-start: 1;
    grid-column-end: 2;
    /* padding: 1rem; */
    margin-top: 10px;
}
.third_Item input[type=date]{
    display: block;
    width: 60%;
    
}
.fourth_Item{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1rem;
}
