.out_box{
    display: flex;
    justify-content: space-evenly;
    width: 39rem;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: purple;
    align-items: center;
    margin: 0 auto; 
    padding: 0.5rem;
    flex: 1;
}
.aline_Box{
    margin: 0 auto;
}
.click_butt{
    background-color: rgb(66, 36, 66);
    color: white; 
}
