.expense-data{
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: solid 1px #ececec;
    background-color: darkgrey;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
}
.expense-data_month{
    font-size: 0.75rem;
    font-weight: bold;
}

.expense-data_year{
    font-size: 0.75rem;
}
.expense-data_date{
    font-size: 1.5rem;
    font-weight: bold;
}