<p>display1 works!</p>

<h1>Using Inbulit Angular Pipe</h1>

<h3>Original Text : {{Text}}</h3>

<h3>Upper Case : {{Text| uppercase}}</h3>

<h3>Lower Case : {{Text | lowercase }}</h3>

<h3>Title Case : {{Text | titlecase}}</h3>

<br>
<br>

<h3>Training Fees in Rupees : {{TrainingFees | currency:'INR'}}</h3>

<h3>Training Fees in Dollars : {{TrainingFees | currency:'USD'}}</h3>

<h3>Training Fees in Euros : {{TrainingFees | currency:'EUR'}}</h3>

<br>
<br>

<h1>Custom Date Format</h1>

<h3>Todays Date : {{TodayDate | date:'dd-MM-yyyy'}}</h3>

<h3>Todays Date : {{TodayDate | date:'dd-MMM-yyyy'}}</h3>