<h5>Product List</h5>

<div class="row">
    <div class="col-6">
        <table class="table table-striped">
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Status</th>
            <tr *ngFor="let Product of ProductData">
                <td>{{Product.productid}}</td>
                <td>{{Product.productname}}</td>
                <td>{{Product.price}}</td>
                <td>{{Product.size}}</td>
                <td>{{Product.status}}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <app-add-new-product (EventProductUpdate)="onProductUpdate($event)"></app-add-new-product>
    </div>

</div>