<!-- <div class="container">
  <h5>My Website!!</h5>
  <app-home></app-home>
  <app-about></app-about>
  <app-service></app-service>
  <app-contact></app-contact> 

</div> -->

<!-- <div class="container">
  <h1>{{pagehdr}}</h1>
  <h1>Amount : {{amount}}</h1>
  <h1>Employee ID : {{Employee.empid}}</h1>
  <h1>Employee Name : {{Employee.empname}}</h1>
  <h1>Employee Address : {{Employee.address}}</h1>
</div> -->

<div class="container">
  <app-display1></app-display1>
  <!-- <app-display2></app-display2> -->
  <app-display3></app-display3>
  <!-- <app-display4></app-display4> -->
  <app-display5></app-display5>
  <!-- <app-display6></app-display6> -->
  <!-- <app-display7></app-display7> -->
  <!-- <app-display8></app-display8> -->
  <app-display9></app-display9>
</div>

