.Big_Box{
    background-color: black;
    border: 1px solid #000000;
    margin: 5rem 20rem 20rem 20rem;
    border-radius: 20px;
    width: 40rem;
    padding: 0.4rem;
    margin-top: 20px;
    

}